.comments {
  padding-top: 30px;
  clear: left
}

.comment__button {
  @extend .btn;
  @extend .btn-primary;
  @extend .btn-mini;
  font-size: .7em;
  float: right;
  margin-left: 5px
}

.comment__button--delete {
  @extend .comment__button;
  @extend .btn-danger
}

.new-comment {
  padding-top: 20px
}