.comments {
  padding-top: 30px;
  clear: left
}

.comment-header {
  h5 {
    float: left
  }
  .comment-buttons {
    float: right;
    padding-top: 10px;
    a {
      @extend .btn;
      @extend .btn-primary;
      @extend .btn-mini;
      font-size: .8em;
    }
    
  }
}
.comment-body {
  clear: both
}

.new-comment {
  padding-top: 20px
}